.recharts-legend-item-text {
    font-family: "Roboto", sans-serif!important;
}
.recharts-legend-wrapper{
    top:  -50px!important;
    display: flex;
    justify-content: end;
}

.legend {
    text-align-last: left;
    opacity: 2;
}